
{% extends "auctions/layout.html" %}

{% block main %}

    <h2>Add New Item</h2>

    {% for m in messages %}
        <h2 class="{{m.tags}}">{{m}}</h2>
    {% endfor %}

    <form action="{% url 'create-listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <div>
            <input class="button" type="submit" name="cancel" value="Cancel" formnovalidate="formnovalidate">
            <input class="button" type="reset" name="reset" value="Reset">
            <input class="button" type="submit" name="submit" value="Create Listing">
        </div>
    </form>

{% endblock %}